body {
    font-family:sans-serif;
    padding: 50px;
    font-size: 12pt;
}

h1 {
    font-family:Georgia,serif;
    font-variant: small-caps;
}

h2 {
    font-size: 14pt;
}

pre {
    background: lightgrey;
    padding: 5px;
    line-height: 150%;
    font-size:8pt;
}

table.contrast thead tr td {
    padding-bottom: 5px;
}

table.contrast tbody tr td {
    padding-right: 20px;
    padding-left: 10px;
}
